# Dependencies and cache# Avoid 
# accidental upload of the Sketch and 
# Figma design files
node_modules/##################################################### 
.npm/## Please do not remove lines 5 and 
6 - thanks! 🙂 ## 
.cache/##################################################### 
*.sketch *.fig

# Avoid accidental XD upload if you 
# convert the design file System 
# files###############################################
.DS_Store# Dependencies and cache## 
Please do not remove line 12 - thanks! 
🙂 ## 
node_modules/############################################### 
*.xd .npm/ .cache/# Avoid your project 
being littered with annoying .DS_Store 
files! .DS_Store
# System files
